
<div class="text-center margin-20">
  <button (click)="loadData()" [ngClass]="{btn: true, 'btn-success': !initializeData, 'btn-warning': initializeData}">
    {{!initializeData ? 'Load Data' : 'Refresh Data'}}
  </button>
</div>

<div [ngClass]="['users-list','table-responsive']" *ngIf="initializeData">
  <h3 [ngClass]="['text-center']">Users</h3>
  <table [ngClass]="['table table-bordered']">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Role</th>
        <th scope="col">Address</th>
        <th scope="col">Created On</th>
        <th scope="col">Modified On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <ng-container *ngIf="!user.editMode">
          <td>{{user.first_name}}</td>
          <td>{{user.middle_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.role}}</td>
          <td>{{user.address}}</td>
          <td>{{user.getCreatedAt()}}</td>
          <td>{{user.getModifiedAt()}}</td>
          <td>
              <button class="btn btn-success btn-sm" (click)="user.enableEditing()">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </ng-container>

        <ng-container *ngIf="user.editMode">
          <td><input placeholder="First Name*" type="text" [(ngModel)]="user.editedData.first_name"/></td>
          <td><input placeholder="Middle Name" type="text" [(ngModel)]="user.editedData.middle_name"/></td>
          <td><input placeholder="Last Name" type="text" [(ngModel)]="user.editedData.last_name"/></td>
          <td><input placeholder="Email*" type="text" [(ngModel)]="user.editedData.email"/></td>
          <td><input placeholder="Phone" type="text" [(ngModel)]="user.editedData.phone"/></td>
          <td>
            <select [(ngModel)]="user.editedData.role">
              <option value="">--Select a role--</option>
              <option value="SuperAdmin">Super Admin</option>
              <option value="Admin">Admin</option>
              <option value="Subscriber">Subscriber</option>
            </select>
          </td>
          <td><input type="text" [(ngModel)]="user.editedData.address"/></td>
          <td>{{user.getCreatedAt()}}</td>
          <td>{{user.getModifiedAt()}}</td>
          <td>
              <button class="btn btn-success btn-sm" (click)="user.saveData()">Save</button>
              <button class="btn btn-warning btn-sm" (click)="user.cancelEditing()">Cancel</button>
          </td>
        </ng-container>

      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>